<template name='reviewCommentItemLack'>
	<div class='container col-xs-12' id='c{{commentsCount3}}'>
		<div class='commentLack'>
			<div class='comment-count'>
				{{commentsCount3}}
				
				{{#if editingCharCount}}
					|
					{{charCount}}
				{{/if}}
			</div>
			
			{{#if owner}}
			<div class='row edit-glyph'>
				<span class='glyphicon glyphicon-edit'></span>
			</div>
			{{else}}
				{{#if currentUser}}
					<span class='glyphicon glyphicon-chevron-down flag-comment-caret' data-toggle='collapse' data-target='#flagCommentCaretC{{commentsCount3}}'></span>
		
					<div id='flagCommentCaretC{{commentsCount3}}' class='collapse'>
						<span class='glyphicon glyphicon-flag flagComment'></span>
					</div>
				{{/if}}
			{{/if}}
			<br>
			<div class='row commentTextParent'>
				{{#if bigComment}}
					<p class='commentText'>{{filteredComment}}<a class='show-more'>{{_ 'review_page_show_more'}}</a></p>
				{{else}}
					<p class='commentText'>{{comment}}</p>
				{{/if}}
			</div>
			
			<div class='row'>
				<div class='votes'>
					{{#if currentUser}}
						<button title={{reviewSnippetTranslationF}} type='button' class='arrow-down F-btn-flag btn btn-danger {{isHighlightedDownVote}}'><span class='glyphicon glyphicon-arrow-down'></span></button>
					{{else}}
						<button title={{reviewSnippetTranslationF}} type='button' class='arrow-down F-btn-flag btn btn-danger {{isHighlightedDownVote}}'><span class='glyphicon glyphicon-arrow-down'></span></button>
					{{/if}}
					<div class='text-center'>
						{{downvotes}}
					</div>
				</div>
				<div class='votes'>
					{{#if currentUser}}	
						<button title={{reviewSnippetTranslationA}} type='button' class='arrow-up A-btn-flag btn btn-success {{isHighlightedUpVote}}'><span class='glyphicon glyphicon-arrow-up'></span></button>
					{{else}}
						<button title={{reviewSnippetTranslationA}} type='button' class='arrow-up A-btn-flag btn btn-success {{isHighlightedUpVote}}'><span class='glyphicon glyphicon-arrow-up'></span></button>
					{{/if}}
					<div class='text-center'>
						{{upvotes}}
					</div>
				</div>
			</div>
				<div class='row'>
					<img class='pro-pic' src="{{assetUrl proPic}}" />
					{{proPicHelper}}
					<div class='author'>{{author}}</div>
					<div class='submitted'>{{submitted}}</div>
					{{#if isYoutubeLink}}
					<br>
					<br>
					<a href={{youtubeLink}}>{{{_ 'my_youtube_reviews'}}}</a>
					{{/if}}
				</div>
		</div>
	</div>
	<hr>
	<br>
</template>
