<template name='reviewCommentSubmitBoxXs'>
	{{#if currentUser}}
		{{#if isCommentBoxSummoned}}
			<form name='comment' class='comment-form form'>
				<textarea name='body' class='col-xs-12' id='review-comment-box-x-small' rows='4'>{{#if customSectionSnippetTextBox}}{{customSectionSnippetTextBox}}{{/if}}</textarea>
				{{#if creatingCharCount}}
					{{charCount}}
				{{/if}}
				{{{_ 'snippet_submit_btn_2'}}}
			</form>
		{{else}}
			<button class='showCommentBox'><span class='glyphicon glyphicon-comment showCommentBoxGlyphicon'></span></button>
		{{/if}}
	{{else}}
		<p class='text-center'>{{_ 'review_page_comment_logged_out'}}</p>
	{{/if}}
</template>
